@charset "UTF-8";

@font-face { font-family: "Univers-Ultra-Condensed"; src: url('fonts/Univers-UltraCondensed.ttf'); }
@font-face { font-family: "Gotham-Rounded-Book"; src: url('fonts/GothamRnd-Book.otf'); }
@font-face { font-family: "Gotham-Rounded-Medium"; src: url('fonts/GothamRnd-Medium.otf'); }
@font-face { font-family: "Gotham-Rounded-Bold"; src: url('fonts/GothamRnd-Bold.otf'); }

body { 	background: #000; 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
-o-user-select:none; /* no support? */
user-select:none; /* no support? */
}

body.macbookpro {
	/*-webkit-transform-origin:50% 0%;*/
	-webkit-transform:rotate(90deg) scale(.73,.73); /* Safari and Chrome */
	-moz-transform:rotate(90deg) scale(.73,.73); /* Firefox */
	-ms-transform:rotate(90deg) scale(.73,.73); /* IE 9 */
	-o-transform:rotate(90deg) scale(.73,.73); /* Opera */
	transform:rotate(90deg) scale(.73,.73);
}
body.smacbookpro { 
	-webkit-transform-origin:50% 0%;
	-webkit-transform:scale(.45,.45); 
	-moz-transform:scale(.45,.45);
	-ms-transform:scale(.45,.45); 
	-o-transform:scale(.45,.45); 
	transform:scale(.45,.45); 

} /* IE 9 */ 
body.smacbookpro:-webkit-full-screen { -webkit-transform:scale(.45,.45); } /* Safari and Chrome */ 
body.smacbookpro:-moz-full-screen { -moz-transform:scale(.45,.45); } /* IE 9 */ 
body.smacbookpro:-ms-full-screen { transform:scale(.45,.45); -ms-transform:scale(.45,.45); } /* IE 9 */
body.smacbookpro:-o-full-screen { -o-transform:scale(.45,.45); } /* IE 9 */ 
body.smacbookpro:full-screen { transform:scale(.45,.45); } /* www */
body.smacbookpro:fullscreen { transform:scale(.45,.45); } /* www */

.hidemouse *, .hidemouse a { cursor:none;  }


@-webkit-keyframes animatedBackground {
	from { background-position: 0px 0px; background-size:100% 100%; }
	to { background-position: -598px -260px; background-size:129% 129%;}
}
@-moz-keyframes animatedBackground {
	from { background-position: 0px 0px; background-size:100% 100%; }
	to { background-position: -598px -260px; background-size:129% 129%;}
}
@-ms-keyframes animatedBackground {
	from { background-position: 0px 0px; background-size:100% 100%; }
	to { background-position: -598px -260px; background-size:129% 129%;}
}
@-o-keyframes animatedBackground {
	from { background-position: 0px 0px; background-size:100% 100%; }
	to { background-position: -598px -260px; background-size:129% 129%;}
}
@keyframes animatedBackground {
	from { background-position: 0px 0px; background-size:100% 100%; }
	to { background-position: -598px -260px; background-size:129% 129%;}
}

@-webkit-keyframes qmarkSpin {
	from{ -webkit-transform: rotateY(270deg); opacity:0;}
	to { -webkit-transform: rotateY(0deg); opacity:.15;}
}
@-moz-keyframes qmarkSpin {
	from{ -moz-transform: rotateY(270deg); opacity:0;}
	to { -moz-transform: rotateY(0deg); opacity:.15;}
}
@-ms-keyframes qmarkSpin {
	from{ -ms-transform: rotateY(270deg); opacity:0;}
	to { -ms-transform: rotateY(0deg); opacity:.15;}
}
@-o-keyframes qmarkSpin {
	from{ -ms-transform: rotateY(270deg); opacity:0;}
	to { -ms-transform: rotateY(0deg); opacity:.15;}
}
@keyframes qmarkSpin {
	from{ transform: rotateY(270deg); opacity:0;}
	to { transform: rotateY(0deg); opacity:.15;}
}

@-webkit-keyframes moneySpin {
	0%{ -webkit-transform: rotateY(0deg); }
	25% { -webkit-transform: rotateY(90deg); }
	50% { -webkit-transform: rotateY(180deg); }
	75% { -webkit-transform: rotateY(270deg); }
	100% { -webkit-transform: rotateY(360deg); }
}
@-moz-keyframes moneySpin {
	0%{ -moz-transform: rotateY(0deg); }
	25% { -moz-transform: rotateY(90deg); }
	50% { -moz-transform: rotateY(180deg); }
	75% { -moz-transform: rotateY(270deg); }
	100% { -moz-transform: rotateY(360deg); }
}
@-ms-keyframes moneySpin {
	0%{ -ms-transform: rotateY(0deg); }
	25% { -ms-transform: rotateY(90deg); }
	50% { -ms-transform: rotateY(180deg); }
	75% { -ms-transform: rotateY(270deg); }
	100% { -ms-transform: rotateY(360deg); }
}
@-o-keyframes moneySpin {
	0%{ -ms-transform: rotateY(0deg); }
	25% { -ms-transform: rotateY(90deg); }
	50% { -ms-transform: rotateY(180deg); }
	75% { -ms-transform: rotateY(270deg); }
	100% { -ms-transform: rotateY(360deg); }
}
@keyframes moneySpin {
	0%{ transform: rotateY(0deg); }
	25% { transform: rotateY(90deg); }
	50% { transform: rotateY(180deg); }
	75% { transform: rotateY(270deg); }
	100% { transform: rotateY(360deg); }
}

@-webkit-keyframes flipover {
    0% {  -webkit-transform: rotateX(0deg); }
    40% {  -webkit-transform: rotateX(0deg); }
    50% {  -webkit-transform: rotateX(180deg); }
    90% {  -webkit-transform: rotateX(180deg); }
	100% {-webkit-transform: rotateX(360deg); }
}
@-moz-keyframes flipover {
    0% {  -moz-transform: rotateX(0deg); }
    40% {  -moz-transform: rotateX(0deg); }
    50% {  -moz-transform: rotateX(180deg); }
    90% {  -moz-transform: rotateX(180deg); }
	100% {-moz-transform: rotateX(360deg); }
}
@-ms-keyframes flipover {
    0% {  -ms-transform: rotateX(0deg); }
    40% {  -ms-transform: rotateX(0deg); }
    50% {  -ms-transform: rotateX(180deg); }
    90% {  -ms-transform: rotateX(180deg); }
	100% {-ms-transform: rotateX(360deg); }
}
@-o-keyframes flipover {
    0% {  -ms-transform: rotateX(0deg); }
    40% {  -ms-transform: rotateX(0deg); }
    50% {  -ms-transform: rotateX(180deg); }
    90% {  -ms-transform: rotateX(180deg); }
	100% {-ms-transform: rotateX(360deg); }
}
@keyframes flipover {
    0% { transform: rotateX(0deg); }
    40% { transform: rotateX(0deg); }
    50% { transform: rotateX(180deg); }
    90% { transform: rotateX(180deg); }
	100% {-webkit-transform: rotateX(360deg); }
}
@-webkit-keyframes approachreveal  {
/*0% { -webkit-filter: blur(40px) opacity(0.01); -webkit-transform: perspective(350px) translateZ(-2500px); }
	40% { -webkit-filter: blur(15px)  opacity(.2); }
	55% { -webkit-filter: blur(10px) opacity(.55); }
	65% { -webkit-filter: blur(0px) opacity(1); }
	82% { -webkit-filter: blur(5px) opacity(.3); }
	100% { -webkit-filter: blur(20px) opacity(0.01); -webkit-transform: perspective(350px) translateZ(300px); }*/	
		0% { -webkit-filter: blur(40px) opacity(0.01); -webkit-transform: perspective(350px) translateZ(-2500px); }
	40% { -webkit-filter: blur(15px)  opacity(.2); }
	55% { -webkit-filter: blur(10px) opacity(.55); }
	65% { -webkit-filter: blur(0px) opacity(1); }
	82% { -webkit-filter: blur(5px) opacity(.3); }
	100% { -webkit-filter: blur(16px) opacity(0.01); -webkit-transform:  perspective(350px) translateZ(200px); }
}
@-webkit-keyframes approachToSwapBalance  {
	0% { 	-webkit-filter: blur(40px) opacity(.1); -webkit-transform:  translateZ(-2500px); }
	/*40% { -webkit-filter: blur(12px) opacity(.2); }
	55% { -webkit-filter: blur(10px) opacity(.55); }*/
	100% { -webkit-filter: blur(0px) opacity(1); -webkit-transform: translateZ(0px); }
}
@-webkit-keyframes pushedSwapBalance  {
	0% { -webkit-filter: blur(0px) opacity(1); -webkit-transform: translateZ(0px);}
	/*50% { -webkit-filter: blur(0px) opacity(1); -webkit-transform: translateZ(0px);}*/
	100% { -webkit-filter: blur(10px) opacity(0.1); -webkit-transform: translateZ(200px); }
}
@-webkit-keyframes fadeInFromNone {
    0% { display:none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}
.approach { 
	-webkit-animation: approachreveal 2.5s ease-out forwards;
	animation: approachreveal 2.5s ease-out forwards;
}

.makeNegative { -webkit-filter: invert(100%);  }
#visualaccess {
	position:absolute;
	bottom:0%;
	right:0%;
	/*background:hsla(62,94%,47%,0.24);*/
	width:100px;
	height:80px;
	cursor: pointer; 
	cursor: hand;
	z-index:5000;
}
h1, #title, #titleA, #titleB, #titleC, #titleD, #titleQM { 
	position: absolute;
	font-family: "Univers-Ultra-Condensed", sans-serif;
	color:#a0f0fd;
	font-size:9em;
	text-transform: uppercase;
	width:100%;
}

#titleA, #titleB, #titleC, #titleD, #titleQM {
	top:15%;
	-webkit-filter: blur(40px) opacity(.0);
}
#titleQM { background:url(images/questionMark.svg) 50% 0% / 22% no-repeat; opacity:70%; }

#title { 
	opacity:0;
	top:130%;/*-20%;*/
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
#title.moveIn { top:0%; opacity:1; }
#outerContainer {
	text-align:center;
	width:1080px;
	height:1920px;
	margin:0px auto;
	overflow:hidden;
}
#innerContainer {
	position:relative;
	width:1480px;
	height:1920px;
	
	background: url(images/triangles.png), url(images/WDYW-BG.jpg) no-repeat;
	background-position: -598px -260px, 0px 0px;
	background-repeat: no-repeat;
	background-size:129% 129%, 73.05% 100%;

	-webkit-animation: animatedBackground 40s cubic-bezier(0,0,0.01,0.01) infinite;
	-moz-animation: animatedBackground 40s cubic-bezier(0,0,0.01,0.01) infinite;
	-ms-animation: animatedBackground 40s cubic-bezier(0,0,0.01,0.01) infinite;
	-o-animation: animatedBackground 40s cubic-bezier(0,0,0.01,0.01) infinite;
	animation: animatedBackground 40s cubic-bezier(0,0,0.01,0.01) infinite;
}
#innerContainer.paused {
-webkit-animation-play-state:paused; /* Safari and Chrome */
}
#content {
	position:relative;
	text-align:center;
	width:1080px;
	height:1920px;
	overflow:hidden;
}
/*screen1*/
#opChoiceA, #opChoiceB {
	background-color: rgba(4,0,22,0.45);
	width: 40%;
	height: 6%;
	padding: 1.8em 0 1.8em 0;
	top: 130%; /*-20%;*/
	opacity:0;
}
#opChoiceA { left:8%; }
#opChoiceB { right:8%; }
#opChoiceA.moveIn, #opChoiceB.moveIn { top: 18.5%; opacity:1; }

#opCostUnderstandA { left:10%; }
#opCostUnderstandB { right:10%; }
#qmark, #clock, #balance { 
	position:absolute; 
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
#qmark {
	top:-9%; /*130%;-35%;*/
	left:35%;
	opacity:.15;
/*	-webkit-animation: qmarkSpin 1s cubic-bezier(0,0,0.01,0.01) 0s;*/
	
}
#qmark.hideb4anim { opacity:0;  }
#qmark.hideb4anim.spin, #qmark.spin {
	-webkit-animation: qmarkSpin 1.66s cubic-bezier(0,0,0.1,0.1) 1.33s forwards;
	-moz-animation: qmarkSpin 1.66s cubic-bezier(0,0,0.1,0.1) 1.33s forwards;
	-ms-animation: qmarkSpin 1.66s cubic-bezier(0,0,0.1,0.1) 1.33s forwards;
	-o-animation: qmarkSpin 1.66s cubic-bezier(0,0,0.1,0.1) 1.33s forwards;
	animation: qmarkSpin 1.66s cubic-bezier(0,0,0.1,0.1) 1.33s forwards;
}

#qmark.moveIn { top:-9%; opacity:.15; }
/*#qmark.drop { top:130%; opacity:0; }*/
#qmark.screen2 { top:35%; left:-80%; opacity:0; }
#qmark.screen3 { top:35%; left:-15%; opacity:.15; }

#clock {  top:22%; left:110%; opacity:0; }
#clock.moveIn { left:50%; opacity:1;}
#clock.screen3 { top:12.5%; }
#balance {  top:42%; left:-60%; opacity:0;}
#balance.moveIn {left:0%;opacity:1;}
#moneyContainer {
	opacity:0;
	position:relative;
	top:130%;/*-35%;*/	
	-webkit-transform: scale(.5,.5) translate(-500px, -200px);
	-moz-transform: scale(.5,.5) translate(-500px, -200px);
	-ms-transform: scale(.5,.5) translate(-500px, -200px);
	-o-transform: scale(.5,.5) translate(-500px, -200px);
	transform: scale(.5,.5) translate(-500px, -200px);
	-webkit-perspective: 3000;
	-moz-perspective: 3000;
	-ms-perspective: 3000;
	-o-perspective: 3000;
	perspective: 3000;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}
#moneyContainer.moveIn { top:25%; opacity:.1;}
#moneyContainer.drop { top:110%; opacity:0;}
#money {
	position:relative;
	top:0%;
	opacity:1;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: moneySpin 180s linear infinite;
	-moz-animation: moneySpin 180s linear infinite;
	-ms-animation: moneySpin 180s linear infinite;
	-o-animation: moneySpin 180s linear infinite;
	animation: moneySpin 180s linear infinite;
}

.paused {
/*	animation-iteration-count:0;
	-webkit-animation-iteration-count:0;*/
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.hide {
	display:none !important;
}
#money img { 
	opacity:1; 
	position:absolute; 
	top:-50%; 
	left:-32%; 
	-webkit-box-shadow: 0px 0px 24px 4px #000;
	-moz-box-shadow: 0px 0px 24px 4px #000;
	-ms-box-shadow: 0px 0px 24px 4px #000;
	-o-box-shadow: 0px 0px 24px 4px #000;
	box-shadow: 0px 0px 24px 4px #000;
}
#money #b1 { 
	-webkit-transform: translateY(710px) rotateX(90deg) rotateZ(70deg); 
	-moz-transform: translateY(710px) rotateX(90deg) rotateZ(70deg); 
	-ms-transform: translateY(710px) rotateX(90deg) rotateZ(70deg); 
	-o-transform: translateY(710px) rotateX(90deg) rotateZ(70deg); 
	transform: translateY(710px) rotateX(90deg) rotateZ(70deg); }
#money #b2 { 
	-webkit-transform: translateY(700px) rotateX(90deg) rotateZ(90deg); 
	-moz-transform: translateY(700px) rotateX(90deg) rotateZ(90deg); 
	-ms-transform: translateY(700px) rotateX(90deg) rotateZ(90deg); 
	-o-transform: translateY(700px) rotateX(90deg) rotateZ(90deg); 
	transform: translateY(700px) rotateX(90deg) rotateZ(90deg); }
#money #b3 { 
	-webkit-transform: translateY(690px) rotateX(90deg) rotateZ(110deg);
	-moz-transform: translateY(690px) rotateX(90deg) rotateZ(110deg);
	-ms-transform: translateY(690px) rotateX(90deg) rotateZ(110deg);
	-o-transform: translateY(690px) rotateX(90deg) rotateZ(110deg);
	transform: translateY(690px) rotateX(90deg) rotateZ(110deg); }
#opChoiceA, #opChoiceB, #opCost, #seeHowItWorks, #chooseAgeGroup, #imagine, #imagineA, #imagineB, #opCostTextA, #opCostTextB, #opCostTextC, #opCostTextD, #timeToDecide, #chooseCorD, #opAmpersand, #opCostUnderstandA, #opCostUnderstandB, #finalConsiderations, #inactivityAlertBox  {
	position: absolute;
	font-family: "Gotham-Rounded-Book", sans-serif;
	font-size: 2.8em;
	color: #fff;
	top:130%;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
#opAmpersand { 
	font-size: 3.8em;  
	width:1em;
	top:110%;
	left:47.5%;
	z-index:200;
}
#opAmpersand.moveIn { top:39%; }
#opCostUnderstandA, #opCostUnderstandB {
	background-color: rgba(4,0,22,0.45);
	color:#e750a1;
	color:#ffffff;
	width: 38%;
	height: 6%;
	padding: 1.8em 0 1.8em 0;
	top:110%;
}
#opCostUnderstandA.moveIn, #opCostUnderstandB.moveIn { top: 34%; }

#opCost, #seeHowItWorks, #chooseAgeGroup { width:100%; letter-spacing:2pt; }
#opCost { top:130%;/*-10%;*/ opacity:0; }
#opCost.moveIn { top:40%; opacity:1;}
#opCost p, #opCostSubheadA, #opCostSubheadB  { color:#cc4eb2; }
#seeHowItWorks { top:130%;/*-10%;*/ opacity:0; }
#seeHowItWorks.moveIn { top:55%;opacity:1; }
#opCost p, #chooseAgeGroup, #opCost2 h2, #chooseWhich, #finalWhich, #finalConsiderations legend, #choiceOptA, #choiceOptB, #choiceOptC, #choiceOptD, #opCostHeadA, #opCostFlip, #opCostHeadB, #opCostHeadC, #opCostHeadD, #opCostHelp { 
	font-family: "Univers-Ultra-Condensed", sans-serif; text-transform: uppercase; }
#opCost p { font-size: 1.8em; margin:0; }
#opCost2{ 
	position: absolute;
	color:white;
	top:-15%; left:0;
	text-align:left;
	background:url(images/gradientOpCost.png) no-repeat;
	width:100%;	
	font-family: "Gotham-Rounded-Bold", sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	padding:5em 1em 0 1em;
	transition: all 1s ease-out .65s;
}
#opCost2.moveIn { top:0; opacity:.93; }
#opCost2.screen3 { top:-7.5%; opacity:.93; }
#opCost2 p { line-height:1em; margin:1.3em; }
#opCost2 h2 { 
	float:left;
	font-size: 3em;
	margin:0;
	padding:.05em .25em 0 0 ;
}
#imagine, #imagineA, #imagineB, #opCostHeadA, #opCostFlip, #opCostHeadB, #opCostSubheadA, #opCostSubheadB, #opCostTextA, #opCostTextB, #opCostHeadC, #opCostHeadD, #opCostSubheadC, #opCostSubheadD, #opCostTextC, #opCostTextD, #timeToDecide, #chooseCorD, #opCostHelp, #opWhenever { position: absolute; left:10%; text-align:left; top:110%; }
#imagine, #nextButton, #restartButton, #opCostSubheadA, #opCostSubheadB, #opCostSubheadC, #opCostSubheadD, #timeToDecide, #opWhenever{ font-family: "Gotham-Rounded-Medium", sans-serif; font-size:3em; }
#imagine, #imagineA, #imagineB { width:80%; }
#imagine.moveIn { top:35%; }
#imagineA.moveIn { top:41%; line-height:1.8em; }
#imagineB.moveIn { top:45.4%; line-height:1.8em;}
.adult #imagineB.moveIn { top:49.5%; }
#timeToDecide.moveIn { top:33%; line-height:1.8em; }
#chooseCorD.moveIn { top:45%; line-height:1.8em;}
.yadult #chooseCorD.moveIn, .senior #chooseCorD.moveIn { top:43.5%; line-height: 1.8em; }
#chooseAgeGroup, #chooseWhich { 
	background:url(images/blueDown.png) 17% 30% no-repeat, url(images/blueDown.png) 83% 30% no-repeat;
	/*font-size: 5em;  */
	color:#a0f0fd;
	letter-spacing:3pt;
}
#chooseAgeGroup { font-size: 5em; top:130%;/*-10%;*/ opacity:0; }
#chooseAgeGroup.moveIn { top:57.5%;opacity:1; }
#chooseWhich { 
	position: absolute;
	width:100%;
	background-position:13% 30%, 86.5% 30%;
	font-size: 4.5em; 
	top:110%;
	transition: all 1s ease 1s;
}
#finalWhich { 	position: absolute;}
#finalConsiderations {
	background-color: rgba(4,0,22,0.45);
	width: 72.5%;
	height:31%;
	top:110%;
	left:10%;
	border-radius: 16px;
	border: #f8cae3 4px solid;
	/*border: #ff88bd 4px solid;*/
}
.teenager #finalConsiderations { height:28%; }
.yadult #finalConsiderations { height:24.5%; }
.adult #finalConsiderations { height:28%; }
.senior #finalConsiderations { height:30%; }

#finalConsiderations.moveIn { top:52.5%; }
#finalConsiderations legend { 
	font-size: 1.75em; 
	left:.6%;
	color:#ff88bd;
	text-align:left; 
	letter-spacing:2px;
	position:relative; 
	top: -23px;
}

#caseA, #caseB { 	
	position: relative; 
	font-size:.75em; 
	line-height: 1.75em;
	width:90%;
	left:5%; 
	text-align:left; 
	font-family: "Gotham-Rounded-Medium", sans-serif; 
	font-size:.73em; 
	font-weight:bold;
}
/*#caseA b, #caseB b { font-family: "Gotham-Rounded-Medium", sans-serif; font-size:1.08em; font-weight:bold;}*/
#caseA { margin-top:.1em; }
#finalA { font-size:.75em;  }  /*top:38%; */
#caseB { margin-top:1.5em;  }
#finalB { font-size:.75em; }  /*top:71%;*/
#chooseWhich.moveIn { top:63%; }
#teenager, #youngadult, #adult, #senior {
	position: absolute;
	width: 37%;
	height: 14%;
	overflow: hidden;
	border-radius: 16px;
	border: #f8cae3 4px solid;
	opacity:0;
	top:130%;
	-webkit-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 36px 18px #000, inset 0px 0px 24px 6px #F89ACD;
	-moz-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 36px 18px #000, inset 0px 0px 24px 6px #F89ACD;
	-ms-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 36px 18px #000, inset 0px 0px 24px 6px #F89ACD;
	-o-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 36px 18px #000, inset 0px 0px 24px 6px #F89ACD;
	box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 36px 18px #000, inset 0px 0px 16px 6px #F89ACD;
	
	-webkit-transition: all 1.5s ease .5s;
	-moz-transition: all 1.5s ease .5s;
	-ms-transition: all 1.5s ease .5s;
	-o-transition: all 1.5s ease .5s;
	transition: all 1.5s ease .5s;
}
.aglowFrame {
	position:absolute;
	top:0;
	left:0;
	width:98%;
	height:97.0%;
	border-radius: 16px;
	border: #f8cae3 4px solid;/**/
	-webkit-box-shadow: inset 0px 0px 12px 4px #F89ACD;
	-moz-box-shadow: inset 0px 0px 12px 4px #F89ACD;
	-ms-box-shadow: inset 0px 0px 12px 4px #F89ACD;
	-o-box-shadow: inset 0px 0px 12px 4px #F89ACD;
	box-shadow: inset 0px 0px 16px 6px #F89ACD;
}
#choiceOptA, #choiceOptB, #nextButton, #restartButton, #choiceOptC, #choiceOptD {
	position: absolute;
	width: 33%;
	top:110%;
	color:white;
	font-size:3.2em;
	padding:26% 1% 3% 1%;
	overflow: hidden;
	border-radius: 16px;
	border: #f8cae3 4px solid;
	-webkit-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 12px 0px #F89ACD;
	-moz-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 12px 0px #F89ACD;
	-ms-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 12px 0px #F89ACD;
	-o-box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 12px 0px #F89ACD;
	box-shadow: 0px 0px 24px 0px #F89ACD, inset 0px 0px 16px 0px #F89ACD;
}
#choiceOptA, #choiceOptB, #choiceOptC, #choiceOptD {height:6.5%;}
#choiceOptA.screen3, #choiceOptB.screen3, #choiceOptC.screen3, #choiceOptD.screen3 {
	top:21%;
	border: #ffffff 4px solid;
	-webkit-box-shadow: 0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #F89ACD;
	-moz-box-shadow: 0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #F89ACD;
	-ms-box-shadow: 0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #F89ACD;
	-o-box-shadow: 0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #F89ACD;
	box-shadow: 0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #F89ACD;
}
#choiceOptA.moveIn, #choiceOptB.moveIn, #choiceOptC.moveIn, #choiceOptD.moveIn { top:68.5%; }

.teenager #choiceOptA { left:10%; background:url(images/teena.svg) 50% 22% / 75% no-repeat; }
.teenager #choiceOptB { right:10%; background:url(images/teenb.png) 50% 22% no-repeat; }
.teenager #choiceOptC { left:10%; background:url(images/teenc.png) 50% 25% no-repeat; }
.teenager #choiceOptD { right:10%; background:url(images/teend.png) 50% 22% no-repeat; }

.yadult #choiceOptA { left:10%; background:url(images/yadulta.png) 50% 25% no-repeat; }
.yadult #choiceOptB { right:10%; background:url(images/yadultb.svg) 50% 22% / 55% no-repeat; }
.yadult #choiceOptC { left:10%; background:url(images/yadultc.svg) 50% 25% / 50% no-repeat; }
.yadult #choiceOptD { right:10%; background:url(images/yadultd.svg) 50% 25% /70% no-repeat; }

.adult #choiceOptA { left:10%; background:url(images/adulta.svg) 50% 15% /90% no-repeat; }
.adult #choiceOptB { right:10%; background:url(images/adultb.svg) 50% 0% / 165% no-repeat; }
.adult #choiceOptC { left:10%; background:url(images/adultc.svg) 50% 35% / 60% no-repeat; }
.adult #choiceOptD { right:10%; background:url(images/adultd.png) 50% 22% no-repeat; }

.senior #choiceOptA { left:10%; background:url(images/seniora.png) 50% 25% no-repeat; }
.senior #choiceOptB { right:10%; background:url(images/seniorb.svg) 50% 22% no-repeat; }
.senior #choiceOptC { left:10%; background:url(images/seniorc.png) 50% 25% / 75% no-repeat; }
.senior #choiceOptD { right:10%; background:url(images/seniord.png) 50% 22% no-repeat; }

/*#choiceOptA.screen3, #choiceOptB.screen3, #choiceOptC.screen3, #choiceOptD.screen3 { top:21%; }*/
.blurBack { 
	-webkit-filter: blur(10px) opacity(.35); 
	-moz-filter: blur(10px) opacity(.35);
	-ms-filter: blur(10px) opacity(.35); 
	-o-filter: blur(10px) opacity(.35); 
	filter: blur(10px) opacity(.35); 
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scale(.90,.90); 
	-moz-transform:scale(.90,.90); 
	-ms-transform:scale(.90,.90); 
	-o-transform:scale(.90,.90); 
	transform:scale(.90,.90); 
	-webkit-transition:all .85s ease 0s;
	-moz-transition:all .85s ease 0s;
	-ms-transition:all .85s ease 0s;
	-o-transition:all .85s ease 0s;
	transition:all .85s ease 0s;
}
#teenager.screen2, #youngadult.screen2, #adult.screen2, #senior.screen2 {
	top:22.8%;	
	background-position: -150px -50px;
	opacity:1; 
	width: 80%;
	height: 5.3%;
	border-radius: 0px;
	border: #f8cae3 0px solid;
	-webkit-box-shadow:  0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #000, inset 0px 0px 0px 0px #F89ACD;
	-moz-box-shadow:  0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #000, inset 0px 0px 0px 0px #F89ACD;
	-ms-box-shadow:  0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #000, inset 0px 0px 0px 0px #F89ACD;
	-o-box-shadow:  0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #000, inset 0px 0px 0px 0px #F89ACD;
	box-shadow: 0px 0px 0px 0px #F89ACD, inset 0px 0px 0px 0px #000, inset 0px 0px 0px 0px #F89ACD;
}

#teenager { background: url(images/Sky2Pink1.jpg) 0px 0px no-repeat #df61ae; left:10%; }
#youngadult { background: url(images/Sky2Pink2.jpg) repeat-x; right: 10%; }
#adult { background: url(images/Sky2Pink3.jpg) repeat-x; opacity:0; left:10%; }
#senior { background: url(images/Sky2Pink4.jpg) repeat-x; right:10%; }
#teenager.moveIn { top:63.8%;opacity:1; }
#youngadult.moveIn { top: 63.8%;opacity:1; }
#adult.moveIn { top: 80.4%;opacity:1;  }
#senior.moveIn { top: 80.4%; opacity:1; }

.buttonContainer { 
	width:100%;
	height:100%;
	-webkit-transition: all 1.5s steps(28) .5s;
	-moz-transition: all 1.5s  steps(28) .5s;
	-ms-transition: all 1.5s  steps(28) .5s;
	-o-transition: all 1.5s  steps(28) .5s;
	transition: all 1.5s  steps(28) .5s;
}
#teenager .buttonContainer { background:url(images/teenagersprites_alpha.png) 0px 0px no-repeat; }
#youngadult .buttonContainer { background:url(images/youngadultsprites_alpha.png) 0px 0px no-repeat; }
#adult .buttonContainer { background:url(images/adultsprites_alpha.png) 0px 0px no-repeat; }
#senior .buttonContainer { background:url(images/seniorsprites_alpha.png) 0px 0px no-repeat; }
#teenager.screen2 .buttonContainer { background-position:0px -7560px; }
#youngadult.screen2 .buttonContainer { background-position:0px -7560px; }
#adult.screen2 .buttonContainer { background-position:0px -7560px; }
#senior.screen2 .buttonContainer { background-position:0px -7560px; }
#teenager.screen2.screen3, #youngadult.screen2.screen3, #adult.screen2.screen3, #senior.screen2.screen3 { top:10.5%; opacity:1; }	
#teenager h3, #youngadult h3, #adult h3, #senior h3 {
	font-family: "Univers-Ultra-Condensed", sans-serif;
	color: #fff;
	font-size: 3em;
	text-transform: uppercase;
	position:absolute;
	bottom:-18%;
	width: 100%;
	height: 70%;
	line-height: 6em;
	padding-top: 70%;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	background:  url(images/blkBtmGradient.png) 0 100% no-repeat;
	-webkit-transition: all 1.8s .3s;
	-moz-transition: all 1.8s .3s;
	-ms-transition: all 1.8s .3s;
	-o-transition: all 1.8s .3s;
	transition: all 1.8s .3s;
}
#teenager.screen2 h3, #youngadult.screen2 h3, #adult.screen2 h3, #senior.screen2 h3 {
	font-size:4.7em;
	line-height: 2.6em;
	width:150%;
	height: 88%;
	background: url(images/blkBtmGradient.png) 0 200% no-repeat;
}
/*	
#title.drop, #teenager.drop, #youngadult.drop, #adult.drop, #senior.drop, .opChoice.drop, #opCost.drop, #seeHowItWorks.drop, #chooseAgeGroup.drop, #opCost2.drop, #imagine.drop, #imagineA.drop, #imagineB.drop, #chooseWhich.drop, #choiceOptB.drop, #opCostHead.drop, #opCostSubhead.drop, #opCostTextA.drop, #nextButton.drop { top:130%; opacity:0; }*/

.drop { top:130% !important; opacity:0 !important; }

#opCostHeadA,#opCostFlipContainer, #opCostHeadB, #opCostHeadC,#opCostHeadD, #opCostHelp {
	position: absolute;
	color:#a0f0fd;
	letter-spacing:0pt;
	font-size: 5em; 
	width:80%;
	top:110%;
	-webkit-transition: all 1s ease 1s;
	-moz-transition: all 1s ease 1s;
	-ms-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}
#opCostFlipContainer { 
	position: absolute;
	height:5%;
	width:80%;
	left:2%;
	-webkit-perspective: 600px; 
	-moz-perspective: 600px; 
	-ms-perspective: 600px; 
	-o-perspective: 600px; 
	perspective: 600px; 
}
#opCostFlip { 
	position: absolute;
	width:inherit;
	height:100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: flipover 8s ease-in-out infinite;
	-moz-animation: flipover 8s ease-in-out infinite;
	-ms-animation: flipover 8s ease-in-out infinite;
	-o-animation: flipover 8s ease-in-out infinite;
	animation: flipover 8s ease-in-out infinite;
 }
#opCostFlipContainer.stopped #opCostFlip { 
	-webkit-animation: none; 
	-moz-animation: none; 
	-ms-animation: none; 
	-o-animation: none; 
	animation: none; 
}
#opCostFlip div {
  display: block;
  position: absolute;
  backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#opCostFlip .frontSide { 
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
#opCostFlip .backSide {  
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
#opCostFlip .frontSide, #opCostFlip .backSide { position: absolute; }
#opCostHelp { left:14%; }
#opCostSubheadA, #opCostSubheadB, #opCostSubheadC, #opCostSubheadD {
	color:#e750a1;
	font-size: 2.9em;
	line-height: 1.7em;

	width:82%;
	font-weight:700;
}
#opWhenever {	
	color:#88dcea;
	font-size: 2.85em;
	width:82%;
	left:18%;
	font-weight:700;
}
#opCostTextA, #opCostTextB, #opCostTextC, #opCostTextD, #timeToDecide, #chooseCorD {
	font-size: 2.8em;
	width:82%;
	line-height: 1.8em;
}
#nextButton, #restartButton {
	font-size:2.75em;
	line-height:2em;
	width: 22%;
	left:39%;
	padding:0px;
	margin:0;
	color: rgb(248, 202, 227);
}
#opCostFlipContainer.moveIn { top:44%; }
#opCostHeadA.moveIn, #opCostHeadB.moveIn, #opCostHeadC.moveIn, #opCostHeadD.moveIn { top:53.8%; }
#opCostHelp.moveIn { top:20%; } /*top:17%;*/
#opCostSubheadA.moveIn, #opCostSubheadB.moveIn, #opCostSubheadC.moveIn, #opCostSubheadD.moveIn { top:61.5%; }
#opWhenever.moveIn { top:44.5%; }
#opCostTextA.moveIn, #opCostTextB.moveIn, #opCostTextC.moveIn, #opCostTextD.moveIn { top:69.5%; }
.teenager #opCostTextA.moveIn, .adult #opCostTextA.moveIn, .adult #opCostTextB.moveIn, .adult #opCostTextC.moveIn,
.senior #opCostTextC.moveIn { top:65.5%; }
#nextButton.moveIn, #restartButton.moveIn { top:89%; }

#inactivityAlertBox {
	background-color: rgba(129,0,190,0.9);
	position: absolute;
	width: 43%;
	height: 15%;
	left: 10%;
	border-radius: 60px;
	padding: 3% 5%;
	font-size: 1.8em;
	text-align:left;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-ms-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	transition: all ease 1.5s;
}
#inactivityAlertBox center { font-size: 2em; font-weight:bold; }
#inactivityAlertBox.showMe {top: 20%;}

#attract { 
	opacity:0;
	/*display:none;
	display: block; opacity: 1;*/
	position:absolute;
	width:1080px;
	height:1920px;
	top:0; 
	left:0; 
	-webkit-transition: all ease 1.5s;
	/*-webkit-animation: fadeInFromNone 1s linear backwards;*/

}
#attract.fadein {
	opacity:1;
/*	animation: fadeInFromNone 1s linear both;
	-webkit-animation: fadeInFromNone 1s linear forwards;*/
}
#attract.fadein.fadeout { opacity:0; }
#attractvideo { user-select:none; -webkit-user-select:none; }
::-webkit-media-controls  { display:none !important; }
#attract h1 { -webkit-perspective(350px); }
#attract h2 { color:white;  }
#attractBalance, #attractBalance div { position:absolute; }
/*#attractBalance, #attractBalance div { border:hsla(77,100%,90%,0.7) 1px solid; }*/
#attractBalance { 
	opacity:0;
	width:587px;
	height:459px;
	top:42%;
	left:23%;
	overflow: visible;
	-webkit-transform-origin:50% 30%;
	-webkit-transform:scale(1.3,1.3);
	-webkit-perspective: 350px;
	perspective: 350px;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-ms-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	transition: all ease 1.5s;
}
#attractBalance.fadein { opacity:.6; }/**/
#balanceStruct {
	top:75%;
	left:13.5%;
	left: 50%;	
  margin-left: -294px;	
	width:587px;
	height:50px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin:50% 50%;
	-webkit-transform:rotateZ(-14.5deg);
}

#balanceStruct, #balanceStruct div {
	-webkit-transition: all 2s cubic-bezier(.33,0,.66,1);
	transition: all 2s cubic-bezier(.33,0,.66,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#balancePanA, #balancePanB {
	top:-20px;
	width:194px;
	height:32px;
	background:url(images/balancePan.svg) 50% 0% / 100% no-repeat;
	-webkit-transform-origin:50% 100%;
	-webkit-transform:rotate(-14.5deg);
}
#balancePanA { left:50%; margin-left: -294px; }
#balancePanB { right:50%; margin-right:-294px; }

#balanceStruct #balancePanA, #balanceStruct #balancePanB, #balanceStruct.tilt { -webkit-transform:rotateZ(14.5deg); }
#balanceStruct.tilt #balancePanA, #balanceStruct.tilt #balancePanB { -webkit-transform:rotateZ(-14.5deg); }

#balanceBeam {
	position:absolute;
	display:block;
	top:25%;
	left:0;
	width:416px;
	height:25px;
	left: 50%;	
  margin-left: -208px;	
	background:url(images/balanceBeam.svg) 50% 50% / 100% no-repeat;
}
#balanceFrame {
	top:0;
	left:26%;
	width:276px;
	height:460px;
	 background:url(images/balanceFrame.svg) 50% 0% / 100% no-repeat;
}
/*#iconL1, #iconL2, #iconR1, #iconR2 {*/
#balanceStruct div div {
	width:250px;
	height:250px;
	bottom:-20px; 
	margin-left: -20px; 
		/*visibility:hidden;
	-webkit-filter: blur(40px) opacity(1); 
	-webkit-transform:  translateZ(-2500px);*/
}
.afar { 
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

/*visibility:visible;*/
	-webkit-transition: none;
	-webkit-filter: blur(40px) opacity(.1); 
	-webkit-transform:  translateZ(-2500px);
	}
	
.afar.approachToSwap { 
	-webkit-transition: all .7s ease-out;
	-webkit-filter: blur(0px) opacity(1); 
	-webkit-transform: translateZ(0px);
	/*-webkit-animation: approachToSwapBalance 1s ease-out;
	animation: approachToSwapBalance 1s ease-out;
	-webkit-animation-fill-mode: forwards;*/
}
.afar.approachToSwap.pushedSwap {
	-webkit-transition: all .3s ease-out;
	-webkit-filter: blur(20px) opacity(.0); 
	-webkit-transform: translateZ(200px);
	
	/*-webkit-animation: pushedSwapBalance 1s ease-in;
	animation: pushedSwapBalance 1s ease-in;
	-webkit-animation-fill-mode: forwards;*/
}
.afar.approachToSwap.pushedSwap.hide { 
	opacity:0; 
	-webkit-transition: none;
	-webkit-transform: translateZ(-2500px); 	
  }
/*.afar.approachToSwap.pushedSwap, .afar { opacity:0 }*/

#iconL1.teenager { background:url(images/teena.svg) 25% 50% / 75% no-repeat; }
#iconR1.teenager { background:url(images/teenc.png) 25% 50% / 75% no-repeat; }
#iconL2.teenager { background:url(images/teenba.png)25% 50% / 75% no-repeat; }
#iconR2.teenager { background:url(images/teend.png) 25% 50% / 75% no-repeat; }

#iconL1.yadult { background:url(images/yadulta.png) 25% 50% / 75% no-repeat; }
#iconR1.yadult { background:url(images/yadultc.svg) 40% 25% / 60% no-repeat; }
#iconL2.yadult { background:url(images/yadultb.svg) 30% 30% / 70% no-repeat; }
#iconR2.yadult { background:url(images/yadultd.svg) 25% 50% / 75% no-repeat; }

#iconL1.adult { background:url(images/adulta.svg) 10% 60% / 85% no-repeat; }
#iconR1.adult { background:url(images/adultc.svg) 45% 70% / 60% no-repeat; }
#iconL2.adult { background:url(images/adultba.svg) 35% 65% / 75% no-repeat; }
#iconR2.adult { background:url(images/adultd.png) 45% 60% / 70% no-repeat; }

#iconL1.senior { background:url(images/seniora.png) 25% 50% / 75% no-repeat; }
#iconR1.senior { background:url(images/seniorc.png) 25% 60% / 75% no-repeat; }
#iconL2.senior { background:url(images/seniorb.svg) 25% 75% / 85% no-repeat; }
#iconR2.senior { background:url(images/seniord.png) 25% 50% / 75% no-repeat; }

